* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#button {
    width: 150px;
    height: 50px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid saddlebrown;
    color: black;
}

#button:hover {
    cursor: pointer;
    background-color: lightblue;
    box-shadow: 5px 5px 0 0 grey;
}

#textarea {
    resize: none;
    margin: 20px;
    display: none;
    padding: 10px;
}